@import 'assets/styles/variables.scss';

.line {
  display: flex;
  margin-bottom: 8px;
  column-gap: 6px;
  height: 0;
  flex-grow: 1;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  &_shaked {
    animation: shake 250ms ease-in;
  }

  &_shaked div {
    color: $error;
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-0.5rem, 0);
  }
  50% {
    transform: translate(0.5rem, 0);
  }
  75% {
    transform: translate(-0.5rem, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
