@import 'assets/styles/variables.scss';
@import 'assets/styles/mixins.scss';

.cell {
  @include d-flex-j-center-a-center;
  height: 64px;
  width: 64px;
  font-weight: 700;
  font-size: 36px;
  border: 2px solid $light-grey;
  border-radius: 4px;
}
