@import 'assets/styles/variables.scss';
@import 'assets/styles/mixins.scss';

.root {
  flex-grow: 1;
  width: 0;
  position: relative;

  &:nth-child(2) :not(.cell_win):not(.cell_active) {
    animation-delay: 0.3s;
  }

  &:nth-child(3) :not(.cell_win):not(.cell_active) {
    animation-delay: 0.6s;
  }

  &:nth-child(4) :not(.cell_win):not(.cell_active) {
    animation-delay: 0.9s;
  }

  &:nth-child(5) :not(.cell_win):not(.cell_active) {
    animation-delay: 1.2s;
  }

  &:nth-child(2) .cell_win {
    animation-delay: 0.1s;
  }

  &:nth-child(3) .cell_win {
    animation-delay: 0.2s;
  }

  &:nth-child(4) .cell_win {
    animation-delay: 0.3s;
  }

  &:nth-child(5) .cell_win {
    animation-delay: 0.4s;
  }
}

.cell {
  @include d-flex-j-center-a-center;
  background-color: $app-background;
  color: $letter-color;
  height: 100%;
  width: 100%;
  font-weight: 400;
  border: 1px solid $cell-border;
  border-radius: 6px;
  text-transform: uppercase;
  user-select: none;

  &_active {
    animation: active 0.1s ease-in;
  }

  &_exists {
    --background-color: #{$exist};
    --color: #{$letter-exist-color};
    --border: 1px solid #{$cell-exist-border-color};
    animation: flip 0.4s ease-in-out forwards;
  }

  &_exact {
    --background-color: #{$exact};
    --color: #{$letter-exact-color};
    --border: 1px solid #{$cell-exact-border-color};
    animation: flip 0.4s ease-in-out forwards;
  }

  &_empty {
    --background-color: #{$empty};
    --color: #{$letter-empty-color};
    --border: 1px solid #{$cell-empty-border-color};
    animation: flip 0.4s ease-in-out forwards;
  }

  &_win {
    background-color: $exact;
    color: $letter-exact-color;
    border: 1px solid $cell-exact-border-color;
    animation: scale 1s ease-in-out;
  }

  &_logo {
    font-weight: 600;
    font-size: calc(var(--tile-height) * 0.66);
    border-radius: 4px;
  }
}

@keyframes active {
  0% {
    transform: translateY(-4px) translateZ(0);
  }
  100% {
    transform: translateY(1px) translateZ(0);
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0);
    background-color: $app-background;
    border: 1px solid $cell-border;
  }
  45% {
    transform: rotateY(90deg);
    background-color: $app-background;
    border: 1px solid $cell-border;
  }
  55% {
    transform: rotateY(90deg);
    background-color: var(--background-color);
    border: var(--border);
    color: var(--color);
  }
  100% {
    transform: rotateY(0);
    background-color: var(--background-color);
    border: var(--border);
    color: var(--color);
  }
}

@keyframes scale {
  0%,
  20% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.15);
  }

  40% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1.1);
  }

  80%,
  to {
    transform: scale(1);
  }
}
