.keyboard {
  display: flex;
  flex-direction: column;
  width: calc(100% + 16px);
  gap: 16px;
  --key-height: 44px;

  &__line {
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
    column-gap: 4px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  .keyboard {
    --key-height: 60px;
    &__line {
      margin-bottom: 12px;
    }
  }
}
