/* COLORS */
$light-grey: #e2e8f0;
$dark-grey: #94a3b8;
$black: #000;
$white: #fff;
$yellow: #ffdd2d;
$yellow-hover: #ffcd33;
$yellow-active: #fab619;
$exist: $white;
$exact: $yellow;
$empty: #5f5f5f;
$error: #ff0000;
$app-background: #1c1c1e;
$cell-border: #ffdd2d;
$letter-color: $white;
$letter-exist-color: $black;
$letter-exact-color: $black;
$letter-empty-color: $white;
$cell-exist-border-color: $white;
$cell-exact-border-color: $yellow;
$cell-empty-border-color: $empty;
$key-background-hover: #262626;
$key-disabled: #404040;
